@model AppUser
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    @*<script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@

    <style>
        .field-validation-error {
            color: red;
        }
    </style>
</head>
<body>
    <div>
        @using (Html.BeginForm("ChangePassword", "Member", FormMethod.Post,new { area="MemberSpecial"}))
        {
            @Html.HiddenFor(x => x.ID)
            @Html.HiddenFor(x => x.UserName)
            @Html.HiddenFor(x => x.Name)
            @Html.HiddenFor(x => x.SPName)
            @Html.HiddenFor(x => x.ActivationCode)
            @Html.HiddenFor(x => x.Role)
            @Html.HiddenFor(x => x.Address)
            @Html.HiddenFor(x => x.BirthDate)
            @Html.HiddenFor(x => x.Email)
            @Html.HiddenFor(x => x.IsActive)
            @Html.HiddenFor(x => x.Password)
            @Html.HiddenFor(x => x.ImagePath)

            <div>
                Şifrenizi Güncelleyin
            </div>
            <div>
                @Html.PasswordFor(x => x.Password)
                @Html.ValidationMessageFor(x => x.Password)
            </div>

            <div>
                Şifreyi Tekrar Girin
            </div>
            <div>
                @Html.PasswordFor(x => x.RePassword)<br />
                @Html.ValidationMessageFor(x => x.RePassword)

            </div>

            <div>
                <button class="btn btn-success">Şifreyi Değiştir</button>
            </div>
        }
    </div>
</body>
</html>
